.idea
.env
package-lock.json
composer.lock
vendor
node_modules
public/js/app.js
public/js/charts
public/css/app.css
public/uploads
**/.sass-cache
**/.sass-cache/*
resources/sass/app.css
public/js/popper.js
public/storage
