/* Custom Area css
============================================================================================ */

body{
  font-family: "ArialAMU", sans-serif!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ArianAMBold", sans-serif!important;
  font-weight: 600!important;
}
.portlet__custom {
  .alert.alert-danger {
    padding: 2px 5px;
    margin: 5px 0;
  }
}

.dynamic-wrap {
  .entry {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;

    .input-group-btn {
      margin-left: 20px;
    }

    .alert.alert-danger {
      display: none;
    }

    &:last-child {
      .alert.alert-danger {
        position: absolute;
        top: 35px;
        display: block;
      }
    }


  }

  .input-group .form-control {
    width: 80%;
  }
}

.form-check-label {
  border: 2px solid #1e1e2d;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-left: 50px;

  &:after {
    content: "";
    position: absolute;
    border-right: 2px solid #1e1e2d;
    border-bottom: 2px solid #1e1e2d;
    transform: rotate(35deg);
    top: -4px;
    left: -3px;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    opacity: 0;
  }
}

.form-check-input {
  display: none;

  &:checked {
    & + .form-check-label:after {
      opacity: 1;
    }
  }
}

.gallery__item {
  height: 150px;
  margin-bottom: 15px;

  .gallery__item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 5px;
  }
  .gallery__item__copy{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    input{
      width: 68%;
    }
  }
}


/*for registration page*/
[class="fa"] {
  &:before {
    font-family: 'fontawesome', sans-serif;
  }
}

.diploms_container {
  height: 250px;
  overflow: auto;
}

.login form {
  position: relative;
  height: 300px;

}

.register form {
  position: relative;
  /*height: 650px;*/
  padding: 0 0 55% 0;

  .form {
    position: relative;
    height: 800px;
  }
}


.bio, .information, .edu {
  position: absolute;
  left: 0;
  top: 7rem;
  right: 0;
  bottom: 0;
  /*padding: 1rem 2rem 0;*/
  overflow: hidden;
  transition: .7s;
  transform: scale(0);
  transform-origin: center center;
  transition-delay: .1s;
  background: #f8fafc;

  &:before {
    color: rgba(0, 0, 0, .2);
    font-size: 4rem;
    font-weight: 100;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}

#bday, #expiry, #issue {
  display: block;
  width: 100%;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: #f8fafc;
}


.reg_nav, .edit_nav {
  background: #fff;
  width: 100%;
  height: 5rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);

  &:after {
    content: '';
    width: 33.3%;
    height: 5rem;
    background: rgb(99, 30, 216);
    position: absolute;
    transition: .5s;
  }

}

.vdp-datepicker__calendar {
  width: 100% !important;
}

textarea {
  resize: none;
  height: 110px !important;
}
.small{
  font-size: 16px;
}
//Registration and edit form

.error {
  text-align: center;
  color: red;
}

.is-danger, .fa-warning {
  color: red;
}

input[type="file"] {
  opacity: 0;
  width: 100%;
  height: 200px;
  position: absolute;
  cursor: pointer;
}

.filezone {
  outline: 2px dashed grey;
  outline-offset: -10px;
  background: #ccc;
  color: dimgray;
  padding: 10px 10px;
  min-height: 200px;
  position: relative;
  cursor: pointer;
}

.filezone:hover {
  background: #c0c0c0;
}

.filezone p {
  font-size: 1.2em;
  text-align: center;
  padding: 50px 50px 50px 50px;
}

div.file-listing img {
  max-width: 90%;
}

div.file-listing {
  margin: auto;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

div.file-listing img {
  height: 100px;
}

div.success-container {
  text-align: center;
  color: green;
}

div.remove-container {
  text-align: center;
}

div.remove-container a {
  color: red;
  cursor: pointer;
}

a.submit-button {
  display: block;
  margin: auto;
  text-align: center;
  width: 200px;
  padding: 10px;
  text-transform: uppercase;
  background-color: #CCC;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

#preview {
  display: flex;
  position: relative;
  width: 180px;
  margin:0 auto;
}

.avatar {
  width: 100%;
  border-radius: 50%;
  border: 2px solid #202095;
  padding: 6px;
  position: relative;
  z-index: 0;
}

input[type="file"], .icon {
  opacity: 0;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
}

.icon {
  /*z-index: 3;*/
  right: 0;
  opacity: 1;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  background-color: #8638FC;
  padding: 12px;
  color:#fff;
}
.img_hint{
  text-align: center;
  font-size: 12px;
}
.department_area{
  border-top: none;
}
.clock_sec h1{
  font-size: 40px;
  color: #e9a401;
}
.diplomas{
  height: 300px;
}
.fr-wrapper>div:nth-child(1), .second-toolbar>a,
p[data-f-id="pbf"]{
    display: none;
}
/* Custom Area css
============================================================================================ */
